.footer {
    padding: 2rem;
    margin-top: 5rem;
    .copyright {
        font-size: 1.2rem;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .footer {
        margin-top: 10rem;
    }
}